.services-section {
    margin-top: 12vh;
    padding: 0.5rem 4rem;
   }
   
   .service-header {
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
  }
  
  .service-header > h1 {
    font-size: 6.5rem;
    font-weight: 700;
    flex: 1;
    text-transform: uppercase;
    color: #ffffffe8;

  }
  
  .service-header > p {
    flex: 1;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 3rem;
    color: #ffffffe8;
  }

  .services-cards {
    width: 100%;
    position: relative;
  }
  
  .services-card {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #ffffff2f;
    gap: 6rem;
    background-color: #000;
  }
  
  .services-card-header {
    flex: 1;
  }
  
  .services-card-body {
    flex: 1;
  }
  
  .services-card-header > h1 {
    font-size: 3rem;
    text-wrap: nowrap;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffffe8;
  }
  
  
  .services-card-header > p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    color: #ffffffbb;
  }
  
  .services-card-body > ul {
    list-style-type: none;
    color: #ffffffbb;
  }
  
  .services-card-body > ul > li {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  

@media screen and (max-width: 1024px){

  .service-header {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .service-header > h1 {
    font-size: 4rem;
  }

  .service-header > p {
    font-size: 1rem;
    line-height: 2rem;
  }

  .services-card-header > h1 {
    font-size: 2rem;
  }
  
  
  .services-card-header > p {
    font-size: 1rem;
    line-height: 2rem;
  }
  
  .services-card-body > ul {
    list-style-type: none;
    color: #ffffffbb;
  }
  
  .services-card-body > ul > li {
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 768px) {
  .services-section {
    margin-top: 12vh;
    padding: 0.5rem 2rem;
   }

  .service-header {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .service-header > h1 {
    font-size: 3rem;
  }

  .service-header > p {
    font-size: 0.8rem;
    line-height: 1.8rem;
  }

  .services-card-header > h1 {
    font-size: 1.5rem;
  }
  
  .services-card-header > p {
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
  
  .services-card-body > ul > li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 426px) {
  .services-section{
    padding: 0.5rem 1rem;
  }
  .service-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }

  .services-card-body {
    display: none;
  }
}